name: Build and Release APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

     - name: Set up Buildozer with Docker
      run: |
        docker pull kivy/buildozer
        docker run --rm -v ${{ github.workspace }}:/app -w /app kivy/buildozer ls -la
        docker run --rm -v ${{ github.workspace }}:/app -w /app kivy/buildozer buildozer android debug

    - name: Upload APK as Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ShivAssistant-APK
        path: bin/*.apk

    - name: Release APK
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v${{ github.run_number }}
        name: "ShivAssistant Release ${{ github.run_number }}"
        files: bin/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
